head
  title Quill
  = stylesheet_link_tag    'application', media: 'all'                             , 'data-turbolinks-track' => true
  = javascript_include_tag 'application'                                           , 'data-turbolinks-track' => true
  = javascript_include_tag 'http://demonstrations.wolfram.com/javascript/embed.js' , 'data-turbolinks-track' => true
  = stylesheet_link_tag 'codemirror'                                               , 'data-turbolinks-track' => true
  = javascript_include_tag 'cms'                                                   , 'data-turbolinks-track' => true

  = csrf_meta_tags
  link href="/images/favicon.gif" rel="icon" type="image/ico"
  link href="http://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet" type="text/css"

  = render 'head_embed_codes'

  erb:
    <!--[if !IE 7]>
      <style type="text/css">
        #wrap { display: table ; height: 100% }
      </style>
    <![endif]-->

  javascript:
    window.Quill = {};

    Quill.sendMessage = function (type, payload) {
      var data = {
        messageType: type,
        payload: payload
      }

      var json = JSON.stringify(data);

      window.parent.postMessage(json, 'http://quill.lvh.me:3000/');
    };

    // http://stackoverflow.com/a/14901150/1397097
    function checkDocumentHeight (callback) {
      var lastHeight = $(document).height()
        , newHeight;

      setInterval(function () {
        // Math.max( body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight )
        // var body = document.body
        //   , html = document.documentElement;
        // console.log(body.offsetHeight);
        newHeight = document.body.offsetHeight;
        if (lastHeight != newHeight) callback();
        lastHeight = newHeight;
      }, 400);
    }

    jQuery(function ($) {
      function postWindowSize (first) {
        console.log('posting window size');

        var data = {};
        if (first == 'first') {
          data.height = $(document).height();
        } else {
          data.height = document.body.offsetHeight;
        }

        Quill.sendMessage('resize', data);
      }

      checkDocumentHeight(postWindowSize);
      postWindowSize('first');
    });
